<h4>Equipment Catalog</h4>
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/category/booms.png" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"  class="btn btn-primary">booms</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/category/carry_deck_crane.png" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"  class="btn btn-primary">carry deck crane</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/category/forklifts.png" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"  class="btn btn-primary">Froklifts</small>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/category/scissor_lifts.png" alt="Card image cap">
        <div class="card-footer">
          <small href="#" class="btn btn-primary">scissor_lifts</small>
        </div>
      </div>
  </div>
  <div class="card-group">
    <div class="card" id="test">
      <img class="card-img-top" src="assets/category/single_man_lifts.png" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"  class="btn btn-primary">single_man_lift</small>
      </div>
    </div>
    <div class="card" id="test">
      <img class="card-img-top" src="assets/category/telehandlers.png" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"  class="btn btn-primary">telehandlers</small>
      </div>
    </div>
    <div class="card" id="test">
      <img class="card-img-top" src="assets/category/personnel_cart.png" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"  class="btn btn-primary">personal</small>
      </div>
    </div>
  </div>
 

