
<h4>Equipment Catalog/booms</h4>
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/subcategory/booms_articulated_electric.png" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"  class="btn btn-primary">articulated electric</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/subcategory/booms_articulated_engine.png" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"  class="btn btn-primary">articulated engine</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/subcategory/booms_straight.png" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"  class="btn btn-primary">booms straight</small>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/subcategory/booms_towable.png" alt="Card image cap">
        <div class="card-footer">
          <small href="#" class="btn btn-primary">booms towable</small>
        </div>
      </div>
  </div>